/*  SideNav Styling  */
a.brand-logo {
    font-family: Papyrus, fantasy;
    font-weight: bold;
    color: #f16522!important;
    font-size: 1.5em;
}

div.logo {
    font-family: Papyrus, fantasy;
    font-weight: bold;
}

div.logo span {
    font-size: 1.5rem;
}



/*  Footer Styling  */

div#footer, div#header {
    padding: 1.4rem 1rem 0.9rem 1rem;
    font-weight: bold;
    width: 100%;
}

div#header img{
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
  margin-right: 8px;
}

div#header-sm-scr{
  display: flex;
  justify-content: space-around;
}

div#header-sm-scr i{
  text-decoration: none;
  font-size: 2.64rem;
  line-height: 110%;
  margin: 0.4rem 0 0.656rem 0;
  color: #f16522!important;
}

ul#side-nav i.material-icons{
  margin: 0px;
}

ul.collapsible.popout{
  width: 80%;
  margin: 0 auto;
}

.side-nav .collapsible {
    margin: 0px 0px -8px 0px;
}

body {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  min-height: 100vh;
  justify-content: space-between;
}

div.panel-body{
  min-height: 80vh;
}



@media only screen and (max-width : 992px) {
  body {
    padding-left: 0;
  }
}



/*  Pending.php Styling  */

div.reservation-card{
  width: 90%;
  margin: 10px auto;
  font-family: 'Courgette', cursive;
}

div.reservation-card table{

}

div.reservation-card div.card-action{
  text-align: right;
}

div.reservation-card form{
  display: inline-block;
}

div.booking > h2, div.booking > h5{
  padding-left: 1rem;
}
