div#bookingPage{
    background-image: url('../images/bookingBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
}

div#bookingPage h2, div#bookingPage h5{
    color: #505050;
    color: white;
    font-weight: bolder
}

div#bookingPage .m12>div:first-child{
    text-align: center;
}

div#bookingPage .m12>div:first-child{
    margin-top: 20px;
}

/*div#bookingPage .m12{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

div.booking-form{width: 80%;}

div.booking-form div.m5{
    background-image: url('../images/booking-menu-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

div.booking-form div.m7{
    background-color: white;
    height: 70vh;
    padding: 0px;
}

div.booking-form div.m7 > p{
    margin-left: 8px;
}

div.booking-form div.form-area{
    padding: 15px;
}

div.form-area input{
    border-bottom-color: #505050;
}

div.form-area label{
    color: rgba(80,80,80,0.8); 
}

div.form-area button:hover{
    background-color: rgba(80,80,80,0.8); 
}

div.form-area button{
    background-color: #505050; 
}

div.form-area div.row{
    margin: 30px auto;
}






div.select-person{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(80,80,80,0.5); 
    justify-content: space-around;
    padding-bottom: 50px;
}

div.option{
    position: relative;
    cursor: pointer;
    border: 2px solid #505050;
    background-color: white;
    width: 22%;
    padding: 6px;
    display: flex;
}

div.option > img{
    align-self: flex-start;
    width: 52px;
    height: 52px;
    margin: 6px;
}

div.option > div{
    align-self: flex-end;
    text-align: center;
    margin: 6px;
}

div.option p{
    font-weight: bold;
    margin: 0px;
    margin-top: 2px;
    text-align: center;
}

div.option i.fa{
    position: absolute;
    right: 3px;
    float: right;
    top: 3px;
    border: 2px solid #505050;
    border-radius: 3px;
    font-size: 12px!important;    
}