div.col-right{
    background-color: #db4f44;
    color: white;
}

div.col-right{
    background-color: #db4f44;
    color: white;
}           

div.col.m7.col-left, div.col.m5.col-right{
    padding: 85px;
    height: 100vh;
    text-align: justify;
}

div#indexPage > .row{margin-bottom: 0px;}