.logo{font-family: Papyrus, fantasy;
      font-weight: bold;}

.logo span{font-size: 1.5rem;}

.nav-wrapper > .section{padding: 0.1rem;}

/*Centering Main Navbar Items*/
#centerList > li{float: none;}
#centerList > li{display: inline-block;}

/*Slide Show*/

#slideShow {position: relative;
            top: 0; left: 0; 
            width: 100%;
            height: 100vh;
            }

#slideShow div{display: inline-block;
               position: absolute;
               top: 0; left: 0; 
               width: 100%;
               height: 100vh;}

#slideShow img {position: absolute; 
                top: 0; left: 0;
                width: 100%;
                height: 100vh;
                z-index: 1;}

#slideShow h1, #slideShow h3{width: 80%;
                             position: relative;
                             top: 200px;
                             z-index: 2;
                             color: white;
                             text-shadow: 2px 2px 4px black;
                             font-family: 'Francois One', sans-serif;}


/*for devices greater than 992px*/
@media only screen and (min-device-width: 992px) {
  #slideShow{margin-top: 100px;}

}

/*for devices less than 992px*/
@media only screen and (max-device-width: 992px) {
      
}
